

section {
  text-align: center;
  font-weight: bolder;
  padding-bottom: 15px;
}
.about-pics {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-radius: 50px;
}
p {
  text-align: center;
  font-weight: bolder;
}
