.overlay {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    position: fixed;
  
    &:after {
        background: #BCD4E8;
        bottom: 0;
        content: ' ';
        left: 0;
        opacity: .85;
        position: absolute;
        right: 0;
        top: 0;
    }
  
    > .modal {
        background: #F9EBE0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 400px;
        margin: auto;
        padding: 20px 40px;
        border-radius: 10px;
        box-shadow: 0px 10px 50px #555;
        background-color: #fff;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 600px;
        z-index: 1000;
        border-radius: 25px;
  
        .header {
          padding-left: 5px;
            align-items: center;
            border-bottom: 1px solid #F3E2D4;
            display: flex;
            font-size: 1rem;
            font-weight: bold;
            height: 1.5rem;
            line-height: 1rem;
            border-radius: 25px 25px 0 0;
  
            .title {
                color: #000;
                flex: 1;
            }
  
            i {
                color: rgb(188, 212, 232);
                cursor: pointer;
                display: inline-block;
                margin-left: 510px;
                margin-bottom: 10px;
                
  
                &:hover {
                    background: white;
                    color: rgb(188, 212, 232);
                }
            }
        }
  
        .content {
            flex: 1;
            padding: 25px;
        }
    }
  }