h1 {
    color: #1e496d;
}

.account-bar {
    margin-top: 5px;
    height: 2px;
    margin-left: 350px;
}

.user-icon {
    color: #5e6a74;
    padding-right: 20px;
}

.settings-icon{
    color: #5e6a74;
    padding-right: 20px;
}

.logout-icon{
    color: #5e6a74;
}

a {
    text-decoration: none;
    padding: 10px;
    color: #5e6a74;
}

header {
    color: black;
    text-align: center;
}

