.light {
    footer {
        color: #1e496d;
        text-align: center;
        font-size: 10px;

    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;

    }


}

.dark {
    footer {
        color: #FFFFFF;
        text-align: center;
        font-size: 10px;

    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;

    }

    .footer h2 {
        color: #FFFFFF;
    }
}