body {
    max-width: 500px;
    margin: 0 auto;
    background-color: #F9EBE0;
    font-family: helvetica;
}

.login-form {
margin-top: 100px;
text-align: center;
}

.login-button {
    background-color: white;
}

h3 {
    color: #1e496d;
}