* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

// body {
//     max-width: 500px;
//     margin: 0 auto;
//     background-color: #F9EBE0;
//     font-family: helvetica;
//     height: 100%;
//     padding-bottom: 50px;
// }

.login-form {
margin-top: 100px;
text-align: center;
}

.login-button {
    background-color: white;
    margin-right: 10px;
    margin-bottom: 15px;
}

h3 {
    color: #1e496d;
}